@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	text-shadow: 2px 2px 25px rgba(0, 0, 0, 0.5);
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #F7F8F8;
	color: #5C585A;
}

#header {
	background-color: #0087E0;
	float: left;
	position: fixed;
	padding: 5px;
	text-align: center;
	width: 15%;
	height: 100%;
	font-size: 175%;
	overflow-y: auto;
	border-right: 5px solid black;
	color: black;
	z-index: 2;
	left: -18%;
	transition: all 500ms linear;
}

#header.menuactive {
	left: 0;
}

#situation {
	background-color: #0087E0;
	float: right;
	margin-left: 100%;
	position: fixed;
	text-align: center;
	width: 20%;
	height: 100%;
	overflow-y: auto;
	overflow-x: visible;
	transition: all 500ms linear;
	border-left: 5px solid black;
	color: black;
	z-index: 2;
}

#situation.active {
	margin-left: 80%;
}

#landing {
	background-image: url(landing-edited.png);
	height: 100vh;
	background-size: cover;
	margin-left: 0%;
	margin-right: 0%;
	padding: 10px 25px;
	padding-top: 5px;
	color: white;
	font-size: 200%;
	text-align: center;
	transition: all 500ms linear;
	border-bottom: 5px solid black;
	z-index: -1;
}

#landing.active {
	margin-right: 5%;
}

#landing.menuactive {
	margin-left: 0%;
}

#landingtext {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 500ms linear;
}

#landingtext.menuactive {
	left: 58%;
}

#landingtext.active {
	left: 48%;
}

#landingtext.active2 {
	left: 40%;
}


#main {
	margin-left: 0%;
	margin-right: 0%;
	padding: 10px 25px;
	padding-top: 5px;
	transition: all 500ms linear;
}

#main.active {
	margin-right: 20%;
}

#main.menuactive {
	margin-left: 15%;
}

.mainpoint {
	font-size: 2.5em;
	margin-bottom: 10px;
}

.info {
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 1.5em;
}

.bginfo {
	text-align: center;
	padding: 5px;
	margin-top: 5px;
	font-size: 125%;
}

.navlink {
	margin-left: -5px;
	margin-right: -5px;
	margin-top: 10px;
	display: block;
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 1.25vw;
}

#nav {
	font-size: 75%;
	text-decoration: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.navlink:hover {
	background-color: #36AAEB;
}

@media only screen and (max-height: 898px) {
#justice {
	display: none;
}
}

.nava {
	text-decoration: none;
	color: black;
}

#situation h1 {
	font-size: 150%;
	padding-bottom: 5px;
	border-bottom: 2px dotted black;
}

.subheading {
	font-size: 1.75em;
}
#menubutton {
	z-index: 3;
	position: fixed;
	right: 0;
	float: right;
	margin-right: 0px;
	transition: all 500ms linear;
}

#menubutton.active {
	margin-right: 20%;
}

#map {
	width: 35vw;
	height: 35vh;
	float: right;
	display: inline-block;
	border-radius: 50px 25px;
	border: 4px solid black;
	box-shadow: 2px 2px 100px 10px rgba(0, 0, 0, 0.5);
}

.maptext{
	text-shadow: 0px 0px 0px black;
}
