@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
}

header {
	background-color: lightblue;
	float: left;
	position: fixed;
	padding: 5px;
	text-align: center;
	width: 20%;
	height: 100%;
	font-size: 175%;
	overflow-y: auto;
	border-right: 5px solid black;
	border-bottom-right-radius: 50px;
	border-top-right-radius: 50px;
}

#situation {
	background-color: lightblue;
	float: right;
	margin-left: 100%;
	position: fixed;
	text-align: center;
	width: 20%;
	height: 100%;
	overflow-y: auto;
	overflow-x: visible;
	transition: all 500ms linear;
	border-left: 5px solid black;
	border-bottom-left-radius: 50px;
	border-top-left-radius: 50px;
}

#situation.active {
	margin-left: 80%;
}

#main {
	margin-left: 20%;
	margin-right: 0%;
	padding: 10px 25px;
	padding-top: 5px;
	transition: all 500ms linear;
}

#main.active {
	margin-right: 20%;
}

.mainpoint {
	font-size: 2.5em;
	margin-bottom: 10px;
}

.info {
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 1.5em;
}

.bginfo {
	text-align: justify;
	padding: 5px;
	margin-top: 5px;
	font-size: 125%;
}

.navlink {
	margin-top: 10px;
	display: block;
	padding-top: 25px;
	padding-bottom: 25px;
}

#nav {
	font-size: 75%;
	text-decoration: none;
}

.navlink:hover {
	background-color: #63b4cf;
}

@media only screen and (max-height: 898px) {
#justice {
	display: none;
}
}

.nava {
	text-decoration: none;
	color: black;
}
